* {
  box-sizing: border-box;
}

html,
body {
  margin: 10px;
  padding: 10px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 420px;
  border: solid black;
  box-sizing: content-box;
}

.grid div {
  width: 15px;
  height: 15px;
}

.pac-dot {
  background-color: green;
  border: 6px solid white;
  border-radius: 50%;
  /* box-sizing: border-box; */
}

.wall {
  background-color: blue;
}

.top-left {
  border-radius: 100% 0 0 0;
}

.top-right {
  border-radius: 0 100% 0 0;
}

.bottom-left {
  border-radius: 0 0 0 100% ;
}

.bottom-right {
  border-radius: 0 0 100% 0;
}

.power-pellet {
  background-color: green;
  border: 3.5px solid white;
  border-radius: 50%;
}

.pacman {
  background-color: orange;
  border: 1px solid white;
  border-radius: 50%;
}

.blinky {
  background-color: red;
  border: none;
}

.pinky {
  background-color: pink;
  border: none;
}

.inky {
  background-color: cyan;
  border: none;
}

.clyde {
  background-color: orange;
  border: none;
}
