* {
  box-sizing: border-box;
}

html,
body {
  margin: 10px;
  padding: 10px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 420px;
  border: solid black;
  box-sizing: content-box;
}

.grid div {
  width: 15px;
  height: 15px;
}

.pac-dot {
  background-color: green;
  border: 6px solid white;
  border-radius: 50%;
  /* box-sizing: border-box; */
}

.wall {
  position: relative;
  background-color: blue;
}

.outer-wall {
  position: relative;
}

.corner-div {
  /* background-color: red; */
  max-width: 10px;
  max-height: 10px;
  position: absolute;
}


.top-left {
  border-radius: 100% 0 0 0;
  border-left: 1px solid blue;
  border-top: 1px solid blue;
  bottom: 0;
  right: 0;
}

.top-right {
  border-radius: 0 100% 0 0;
  border-right: 1px solid blue;
  border-top: 1px solid blue;
  bottom: 0;
  left: 0;
}

.bottom-left {
  border-radius: 0 0 0 100%;
  border-left: 1px solid blue;
  border-bottom: 1px solid blue;
  top: 0;
  right: 0;
}

.bottom-right {
  border-radius: 0 0 100% 0;
  border-right: 1px solid blue;
  border-bottom: 1px solid blue;
  top: 0;
  left: 0;
}

.side-div {
  /* background-color: red; */
  position: absolute;
}

.top-side {
  border-top: 1px solid blue;
  max-height: 10px;
  bottom: 0;
}

.bottom-side {
  border-bottom: 1px solid blue;
  max-height: 10px;
  top: 0;
}

.left-side {
  border-left: 1px solid blue;
  max-width: 10px;
  right: 0;
}

.right-side {
  border-right: 1px solid blue;
  max-width: 10px;
  left: 0;
}

.power-pellet {
  background-color: green;
  border: 3.5px solid white;
  border-radius: 50%;
}

.pacman {
  background-color: orange;
  border: 1px solid white;
  border-radius: 50%;
}

.ghost {
  border-radius: unset;
}

.blinky {
  background-color: red;
  border: none;
}

.pinky {
  background-color: pink;
  border: none;
}

.inky {
  background-color: cyan;
  border: none;
}

.clyde {
  background-color: orange;
  border: none;
}

.scared-ghost {
  background-color: lightskyblue;
  border: none;
}
