* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

button {
  cursor: pointer;
}

.container {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100vw;
  height: 90vh;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-code {
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  padding: 1rem 1.5rem;
}
