* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

button {
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  border: 1px solid;
}

button:hover {
  background-color: aliceblue;
}

.container {
  display: inline-grid;
  width: 100vw;
  height: 90vh;
}

.cols-1 {
  grid-template-columns: auto;
}

.cols-4 {
  grid-template-columns: 1fr 1fr;
}

.cols-8 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#num-colors {
  display: flex;
}

input[type='radio'] {
  margin: 0 0.2rem 0 1rem;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-code {
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  padding: 1rem 1.5rem;
}
