* {
    box-sizing: border-box;
}

body {
    background: url(images/table.png), green;
    background-size: cover;
    margin: 0;
    color:#121212;
}

.image-container {
    display: flex;
}

.btn {
    background-color: #fff;
    margin: 1rem auto;
    padding: .75rem 2rem;
    border: 1px solid;
    cursor: pointer;
}
