* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color:#121212;
}

.btn {
    background-color: #fff;
    margin: 1rem auto;
    padding: .75rem 2rem;
    border: 1px solid;
    cursor: pointer;
}
